<div class="pantalla">
<div class="container">
    <input type="checkbox" id="signup_toggle">
    <form class="form">
        <div class="form_front">
            <div class="form_details">Registro</div>
            <input placeholder="Nombre de Usuario" class="input" type="text">
            <input placeholder="Correo Electronico" class="input" type="text">
            <input placeholder="Correo Electronico" class="input" type="text">
            <input placeholder="Correo Electronico" class="input" type="text">
            <button class="btn">Registrate</button>
                
        </div>
       
    </form>
</div>



</div>